<h2>Article archive</h2>

<% @articles.each do |article| %>

	Title:<br>
	<%= article.title %><br>
	Text:<br>
	<textarea type="text" name="text" rows="10" cols="50"><%= article.text %></textarea>
	<br>
	<%= form_for :article, url: "#{articles_path}/#{article.id}", method: :delete, data: {turbo: false} do |f| %>
		<%= f.submit 'Delete article'%>
	<% end %>
	<%= form_for :article, url: "#{articles_path}/#{article.id}/edit", method: :get, data: {turbo: false} do |f| %>
		<%= f.submit 'Edit article'%>
	<% end %>
	<%= form_for :article, url: "#{articles_path}/#{article.id}", method: :get, data: {turbo: false} do |f| %>
		<%= f.submit 'Show article'%>
	<% end %>
	<hr>

<% end %>